@page
@model TheBigStore.Application.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container py-5 h-100">
    <div class="row d-flex
        justify-content-center align-items-center h-100">
        <div class="col-12 col
            -md-8 col-lg-6 col-xl-5">
            <div class="card" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h1>Welcome to TheBigStore</h1>
                    <p>Here you can manage roles and users.</p>
                    @if (HttpContext.Session.GetInt32("id").HasValue && HttpContext.Session.GetInt32("role") == 1)
                    {
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="/Admin/Roles/Roles">Roles</a>
                                <a class="btn btn-primary" href="/Admin/Users/Users">Users</a>
                                <a class="btn btn-primary" href="/Admin/Products/Category">Categories</a>
                                <a class="btn btn-primary" href="/Admin/Products/Products">Products</a>
                                <a class="btn btn-primary" href="/Admin/Roles/Roles">View</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            You are not logged in or not authorized.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
