@page
@model TheBigStore.Application.Pages.Shared.UnauthorizedModel
@{
    ViewData["Title"] = "Unauthorized";
}


<h1 class="text-danger">Unauthorized.</h1>
<h2 class="text-danger">You are not authorized to access this page.</h2>