@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome to TheBigStore</h1>
    <p>Here you can manage roles and users.</p>
</div>
@if (string.IsNullOrWhiteSpace(HttpContext.Session.GetString("username")))
{
    <p>@Model.HttpContext.Session.GetString("username")</p>
}
else
{
    <p>@Model.HttpContext.Session.GetString("username")</p>
    <div class="row">
        <div class="col-md-6">
            <h4>Roles</h4>
            <a class="btn btn-primary" href="/Roles/Roles">View</a>
        </div>
        <div class="col-md-6">
            <h4>Users</h4>
            <a class="btn btn-primary" href="/Users/Users">View</a>
        </div>
    </div>
}