@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TheBigStore</h1>
    <p>Click to goto Products</p>
    <p><a class="btn btn-primary" asp-page="/Products/">Products</a></p>
</div>
