@page "{id:int}"
@model EditRolesModel
@{
    ViewData["Title"] = "Edit Roles";
}

@if (!HttpContext.Session.GetInt32("id").HasValue || HttpContext.Session.GetInt32("role") == 2)
{
    <div class="alert alert-danger" role="alert">
        You are not logged in or not authorized.
    </div>
}
else if (HttpContext.Session.GetInt32("id").HasValue && HttpContext.Session.GetInt32("role") == 1)
{
    <h3>Roles - Edit</h3>
    <hr />
    <div>
        Here can you edit a role.
        <hr />
    </div>
    @if (@Model.Role != null)
    {
        <form method="post" asp-page-handler="UpdateRole">

            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" class="form-control" asp-for="Role.Id" readonly>
            </div>

            <div class="mb-3">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" asp-for="Role.RoleName">
            </div>

            <div class="mb-3">
                <label class="form-check-label" for="flexCheckChecked">Is Admin</label>
                @if (Model.Role.IsAdmin == true)
                {
                    <input class="form-check-input" type="checkbox" asp-for="Role.IsAdmin" id="flexCheckChecked" name="isadmin" checked>
                }
                else
                {
                    <input class="form-check-input" type="checkbox" asp-for="Role.IsAdmin" id="flexCheckChecked" name="isadmin">
                }
                </div>

            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Update</button>
                <a class="btn btn-danger" href='/Admin/Roles/Roles'>Cancel</a>

                @if (Model.SuccessMessage != null)
                {
                    <div><span class="text-success">@Model.SuccessMessage</span></div>
                }
                else if (Model.ErrorMessage != null)
                {
                    <div><span class="text-danger">@Model.ErrorMessage</span></div>
                }

            </div>

        </form>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            No role item found.
        </div>
    }
}
