﻿@using TheBigStore.Blazor.Utility
@using System.Text.Json;
@using TheBigStore.Blazor.Models
@inject NavigationManager _navigationManager
@inject LocalStorage _localStorage

<script src="https://kit.fontawesome.com/b87b53de45.js" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="col-10">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" style="cursor:pointer;" @onclick='() => _navigationManager.NavigateTo("/")' aria-current="page">Home</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" style="cursor:pointer;" @onclick='() => _navigationManager.NavigateTo("/Admin/Dashboard")'>Admin</a>
                    </li>
                    <li>
                        <a @onclick='() => _navigationManager.NavigateTo("/Cart")' class="p-0 pt-2 ps-1 nav-link" style="cursor:pointer">
                            <i class="fa-solid fa-cart-shopping"></i>
                            <span class="badge badge-warning" style="transform: translate(-10px,-10px);">
                                <span class="badge bg-primary">@CartExtension.CartCount</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@using TheBigStore.Blazor.Extensions

@code {
    protected override async Task OnInitializedAsync()
    {
        await CartExtension.UpdateCartCount(_localStorage);
        await base.OnInitializedAsync();
    }
}