@page
@model TheBigStore.Application.Pages.Products.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<h3>TheBigStore - Products</h3>
<a class="btn btn-success" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Create</a>
<hr />
