@page
@using TheBigStore.Repository.Models
@model TheBigStore.Application.Pages.Roles.RolesModel
@{
    ViewData["Title"] = "Roles";
}

<h3>TheBigStore - Roles</h3>
<a class="btn btn-success" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Create</a>
<hr />

@if (Model.Roles != null && Model.Roles.Any())
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>RoleName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Roles)
            {
                <tr>
                    <form method="post" asp-page-handler="DeleteRole">
                    <td>@item.Id</td>
                    <td>@item.RoleName</td>
                    <td>
                        <input type="hidden" name="id" value="@item.Id" />
                        <a class="btn btn-primary" href="/Roles/EditRoles/@item.Id">Edit</a>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-primary" role="alert">
        No roles items found.
    </div>
}


<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Create a Role</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Here can you create a new role.
            <hr />
        </div>
        <form method="post" asp-page-handler="CreateRole">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">RoleName</span>
                <input type="text" class="form-control" asp-for="RoleName" id="rolename" name="rolename">
            </div>
            <button class="btn btn-success" type="submit">Create</button>
        </form>
    </div>
</div>